.editors {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.date {
  text-align: center;
  font-size: 0.8rem;
  color: #595959;
  letter-spacing: 0.02;
}

.dateString {
  cursor: pointer;
}
.textarea {
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  height: 99%;
  resize: none;
  border: none;
  outline: none;
}
