.note {
  box-sizing: border-box;
  padding: 10px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 10px;
  max-width: 400px;
  transition: all 300ms ease-in;
}
.note_active {
  transition: all 300ms ease-in;
  background-color: #ffd666;
}
.text {
  font-size: 1rem;
  font-weight: 300;
  color: #595959;
}
.title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #262626;
  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
}
